.box
{
    border: 2px solid black; padding: 34px;
    margin: 10px;
    box-shadow: 5px 15px 5px #888888;
}
.text
{
    text-shadow: 5px 15px 5px grey;
    margin: 15px;
    padding: 15px;
    color: purple;
    font-family: cursive;
    font-style: italic;
    font-size: 20px;
    outline: 1px solid red;
    outline-offset: 5px;
}