.containor
{

}
.img1
{
    filter: blur(4px);
    /* filter: invert(34); */
}
.img2
{
    filter: brightness(120px);
}
.img3{
    /* filter:grayscale(50%) */
    /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
    /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
    filter: invert(.31);
}



SOME FILTER SOURCE CODE
/* <filter-function> values */
filter: blur(5px);
filter: brightness(0.4);
filter: contrast(200%);
filter: drop-shadow(16px 16px 20px blue);
filter: grayscale(50%);
filter: hue-rotate(90deg);
filter: invert(75%);
filter: opacity(25%);
filter: saturate(30%);
filter: sepia(60%);

/* URL */
filter: url("filters.svg#filter-id");

/* Multiple filters */
filter: contrast(175%) brightness(3%);
filter: drop-shadow(3px 3px red) sepia(100%) drop-shadow(-3px -3px blue);

/* Use no filter */
filter: none;

/* Global values */
filter: inherit;
filter: initial;
filter: revert;
filter: revert-layer;
filter: unset;