*{
    margin: 0px;
    padding: 0px;
}
.box 
{
    border: 2px solid blue;
    display: inline-block;
    width: 344px;
    padding: 45px;
    margin: 40px;
}

.box1
{
    /* display: none; */
    /* when we used display:none property than element,box etc remove on tha page with sapce */
    /* visibility: hidden; */
    /* when we used visibility: hidden property than box,elemnt renove on tha page but space not ; */
    /* display: grid ; */
    /* when we used diplay:grid property than box shit into next line */
}
 Some Mre CSS Display Property

 /* precomposed values */
display: block;
display: inline;
display: inline-block;
display: flex;
display: inline-flex;
display: grid;
display: inline-grid;
display: flow-root;

/* Box suppression */
display: none;
display: contents;

/* multi-keyword syntax */
display: block flex;
display: block flow;
display: block flow-root;
display: block grid;
display: inline flex;
display: inline flow;
display: inline flow-root;
display: inline grid;

/* other values */
display: table;
display: table-row; /* all table elements have an equivalent CSS display value */
display: list-item;

/* Global values */
display: inherit;
display: initial;
display: revert;
display: revert-layer;
display: unset;