*{
    margin: 0px;
    padding: 0px;
}
.box
{
    border: 2px solid black;
    width: 2000px;
    background-color: aqua;
    margin: 23px auto;
    box-sizing: border-box;
}
p{
    border: 2px solid black;
    width: 111vh; 
    background-color: rgb(135, 233, 8);
    box-sizing: border-box;
    min-height: 60vh;
    margin: 23px auto;
}
h1
{
     border: 2px solid black;
    width: 50vw;
    background-color: rgb(248, 11, 102);
    box-sizing: border-box;
    margin: auto;
}
.mycont
{
    background-color: red;
    color: yellow;
    font-size: 22px;
    width: 100vmin;
    margin: 23px auto;
}
