.items
{
    color: azure;
    height:62px;
    width: 62px;
 background-color: rgb(77, 47, 105);
 border: 2px solid black;
padding: 4px;
margin: 4px;
}
.container
{
    border: 2px solid rgb(89, 87, 85);
display: flex;
height: 70vh;
justify-content: center;
/* justify-content: flex-end; */
/* justify-content: flex-start;
justify-content: flex-start; */
/* justify-content: space-around; */
/* justify-content: space-between; */
align-items: center;
/* flex-direction: column; */
/* flex-direction: column-reverse; */
flex-wrap: wrap;
align-content: center;
/* align-content: center;when we use when multiple line use in box */
 row-gap: 20px;
 column-gap: 25px;
 /* gap:20px( row-gap)25px(column-gap) its shortcut:) */
}